.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    color: #f3f4f6;
}

.headerLayout {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
} 

.itemsSeparator{
    width: 2rem;
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 1.5rem;
        gap: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .headerLayout {
        width: 100%;
        gap: 0.5rem;
    }

    .headerLayout > * {
        flex: 1 1 calc(50% - 0.25rem);
    }

    .itemsSeparator {
        display: none;
    }
}

@media (max-width: 520px) {
    .headerLayout > * {
        flex-basis: 100%;
    }
}